/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #00b35a;
  display: flex;
   font-size: 15pt;
}
 
nav ul li {
  position: relative;
}
 
nav ul li a {
  color: white;
  padding: 15px 20px;
  display: block;
  text-decoration: none;
}
 
nav ul li:hover {
  background-color:#bc0e0e;
  transform: scale(1.1);
}
 
nav ul li ul {
  display: none;
  position: absolute;
  background: #b30000;
  padding: 0;
  min-width: 180px;
}
 
nav ul li:hover ul {
  display: block;
 
}
.container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
}

.left {
    width: 40%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-dia {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.right {
    width: 60%;
    padding: 30px;
}

h1 {
    margin-top: 0;
    font-size: 28px;
}

p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}
.boton-prev{
    margin-top: 30px;
    text-align: left;
}
.boton-next {
    margin-top: 10px;
    text-align: right;
}

.next-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.next-btn:hover {
    background-color: #0056b3;
}
