/*  */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

.cajafuerte{
  background: #bc0e0e;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Segoe IU", sans-serif;
  font-family: cursive;
   text-shadow: 2px 2px 4px gold;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #00b35a;
  display: flex;
   font-size: 15pt;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  padding: 15px 20px;
  display: block;
  text-decoration: none;
}

nav ul li:hover {
  background-color:#bc0e0e;
  transform: scale(1.1);
}

nav ul li ul {
  display: none;
  position: absolute;
  background: #b30000;
  padding: 0;
  min-width: 180px;
}

nav ul li:hover ul {
  display: block;

}

section {
  padding: 20px;
  display: none;
  background: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#principal {
  display: block;
}

h2{
    font-family: cursive;
    color: rgb(124, 66, 22);
    margin-bottom: auto;
    margin-left: 3%;
      text-shadow: 2px 2px 4px gold;
}
p {
  font-family: "Constantia", serif;
   font-size: 16pt;
    margin: 7%;
  
}
